<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome_page.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1>Clean up your playlist</h1>
        <p>Free and easy to use!</p>
        <a href="{{ url_for('start_login') }}">
            <button>Start</button>
        </a>
    </div>
</body>
</html>